{% extends "layout.html" %}
{% block content %}
<p>Esse sistema foi criado por Eduardo Henrique Arnold, aluno de graduação de engenharia elétrica da UFSC.</p>

<p>A motivação foi usar a linguagem Python num problema real de forma a concretizar conceitos e desenvolver habilidades em diferentes tópicos de sistemas de informaação, diga-se, protocolo HTTP, HTML 'parsers', API's do Google e interface do usuário com Python através da Web. Já o objetivo foi possibilitar ao usuário final um processo simples e rápido para importar o seu calendário de aulas do sistema da UFSC para o serviço de calendário do Google.</p>

<p>Esse é um software de código livre, protegido pelos termos da licensa GNU GPLv3. Você pode encontrar os arquivos fonte <a href='https://github.com/eduardohenriquearnold/cagr2gcal'>aqui.</a></p>

<p>Agradecimentos à comunidade Python e contribuintes dos seguintes pacotes: 
    <ul>
        <li><a href='http://flask.pocoo.org/'>Flask</a></li>
        <li><a href='http://www.crummy.com/software/BeautifulSoup/'>BeautifulSoup</a></li>
        <li><a href='https://code.google.com/p/google-api-python-client/'>google-api-client-python</a></li>
    </ul>
</p>
{% endblock %}

